.header{
        
    .header-box{
        margin-top: 24px;
        margin-left: 24px;
        font-weight: 600;
        padding-block: 10px;
        padding-inline:13px ;
        font-family: 'Montserrat';
        width: 406px;
        font-size: 24.6px;
        span{
            background-color: black;
            color: white;
            padding: 6.66px, 3.59px, 6.66px, 3.59px;
            padding-inline: 4px;
        }
    }
}

@media  screen and (max-width: 600px){
    .header{
        
        .header-box{
            margin-top: 12px;
            margin-left: 12px;
            font-weight: 600;
            padding-block: 10px;
            padding-inline:13px ;
            font-family: 'Montserrat';
            width: 360px;
            font-size: 12.3px;
            span{
                background-color: black;
                color: white;
                padding: 6.66px, 3.59px, 6.66px, 3.59px;
                padding-inline: 4px;
            }
        }
    }
    
}